<div class='border-bottom row' style='margin-bottom:16px; padding-bottom:8px; margin-left:20px;'>
  <h1>Send Me an Email</h1>
  <div class='col-3' >
   <div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">Enter Your Email-ID</label>
  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
</div>
<div class="mb-3">
  <label >Enter your Full Name</label>
  <input type="text" name='Sender-fullname' class="form-control" id="formGroupExampleInput" placeholder='FirstName LastName'  >
</div>
    <div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">Type in the message</label>
  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
</div>
  </div>
  <div class='col-9 text-center'>
    <img src="static/sendmail.jpg" style='height:400px; width:750px; padding-bottom:30px' >
  
  </div>
  </div>