<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <title> Sahib's Website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
    {% include 'nav.html' %}
    {% include 'home_intro.html' %}
    
    <div class='container'>
      <h1> My Accomplishments</h1>
      {% for course in courses %}
         {%include 'home_accomplishments.html' %}
      {% endfor %}
      <div style='margin-left:30px;'>
      <button type="button" class="btn btn-outline-primary " style='width:200px'>See More</button>
    </div>
    </div>
   {% include 'home_projects1.html' %}
    {% include 'home_believes.html' %}
    {% include 'home_skills.html' %}
    {% include 'footer1.html' %}
  
  </body>
</html>
